@import "/src/website/style/vars";

.slider {
	position: relative;
	min-width: 15rem;
	min-height: 1.25em;
	background-color: rgba(128, 128, 128, 0.5);
	border: 3px solid $font-color;
	border-radius: 3px;
	overflow: hidden;
}

.handle {
	box-sizing: border-box;
	width: 1rem;
	cursor: pointer;
	border: 3px solid $font-color;
	border-top-width: 0;
	border-bottom-width: 0;
	background-color: $foreground-secondary-color;
	position: absolute;
	top: 0;
	bottom: 0;
	transform: translateX(-50%);
}