@import "/src/website/style/vars";

.sliderRoot {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 0.5rem;
}

.slider {
	background-color: $background-color;
	border: 3px solid $font-color;
	border-radius: 3px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.handleContainer {
	flex: 1 1 auto;
	position: relative;
	height: 100%;
	margin: 0 0.5em;
	min-width: 15rem;
	min-height: 1.25em;
}

.handle {
	box-sizing: border-box;
	width: 1rem;
	cursor: pointer;
	border: 3px solid $font-color;
	border-top-width: 0;
	border-bottom-width: 0;
	background-color: $font-color;
	position: absolute;
	top: 0;
	bottom: 0;
	transform: translateX(-50%);
}

.label {
	overflow: hidden;
	flex: 0 0 auto;
	color: $font-color;
	text-align: right;
}