.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.clock {
  // --block-height: 5rem;
  // --wheel-width: 3rem;
  // --separator-width: 1rem;
  // --block-font-size: 3rem;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #111;
  padding: 1px;
  gap: 1px;
  border: 4px solid #444;
  border-radius: 3px;

  * {
    box-sizing: border-box;
  }

  .clockWheelSeparator,
  .clockWheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
  }

  .clockWheel {
    width: var(--wheel-width);
    height: calc(var(--total-wheel-height-blocks) * var(--block-height));
  }

  .clockWheelFace {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: #888;
    font-size: var(--block-font-size);
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #444;
    position: absolute;
    height: var(--block-height);
    width: var(--wheel-width);

    transition: 0.5s;
    transition-timing-function: ease-in-out;

    opacity: calc(var(--apparency) + var(--face-direction) * 0.1);
    transform: translateY(calc(var(--offset) * var(--block-height)))
      scaleY(var(--apparency));
  }

  .clockWheelSeparator {
    width: var(--separator-width);
    .clockWheelFace {
      width: var(--separator-width);
    }
  }
}
