.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.mapContainer {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mapColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mapSquare {
      width: 10px;
      height: 10px;

      &.empty {
        background-color: #444;
      }

      &.full {
        background-color: #888;
      }
    }
  }
}

.inputsColumn {
  flex: 0 0 auto;
  padding: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 200px;

  .inputWrap {
    display: flex;
    flex-direction: row;
    align-items: center;

    .inputLabel {
      width: 100px;
      flex: 0 0 auto;
      color: #fff;
    }

    input[type="text"] {
      width: 50px;
      flex: 0 0 auto;
    }

    input[type="button"] {
      flex: 1 1 0;
    }
  }
}
