@import "vars";
@import "opensans";

html, body, body > *[id="app"] {
	min-height: 100vh;
	width: 100vw;

	border: 0;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

// cannot just use `#app` - it will be mangled
body > *[id="app"] {
	background-color: $background-color;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
}

noscript {
	display: block;
	color: $font-color;
	margin: 10%;
	text-align: center;

	> :first-child {
		font-size: 2rem;
	}

	> :last-child {
		font-size: 1rem;
	}
	
}