@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans_medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}